.track_row{
    font-size:20px;
    display: inline-block;
    background-color: rgb(255, 246, 246);
    border: 1px solid rgba(197, 197, 197, 0);
    box-shadow: 20px rgba(0, 0, 0, 0);
    border-radius: 6px;
    width:95%;
    margin: 1vh;

}

.search_button{
    border: 1px rgba(240, 7, 7, 0);
    width:8vw;
    height:3vh;
    border-radius: 5px;
    margin:1vh;
}
.header{
    display: flex;
    flex-direction: row;
    margin:0.1vh;
    gap:15px;
}
.extended_info{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.users{
    border-radius:5px;
    border:transparent rgb(240, 208, 208);
    padding: 10px;
    background-color: rgb(230, 230, 226);
    text-align: center;
    height:max-content;
    max-height: 80vh;
    overflow:scroll;
    margin:3vh 1vh 1vh 1vh ;
    width:max-width;
}