body{
    background-color: rgb(226, 217, 217);
}
h1{
    color: rgb(20, 18, 18);
    text-shadow: 0 1px 0;
   display:flex;
   justify-content: center;
}

.content{
    display: grid;
    grid-template-areas: 
    "main main main main"
    "tracks tracks tracks lists"
    "tracks tracks tracks lists"
    "tracks tracks tracks lists";
    grid-gap: 0.25rem;
}

.tracks{
    border-radius:5px;
    border:transparent rgb(240, 208, 208);
    padding: 10px;
    background-color: rgb(230, 230, 226);
    text-align: center;
    height:max-content;
    max-height: 80vh;
    overflow:scroll;
    margin:3vh 1vh 1vh 1vh ;
    width:100vw;
}
.track_list{
    border-radius:5px;
    border:transparent rgb(240, 208, 208);
    padding: 10px;
    background-color: rgb(230, 230, 226);
    text-align: center;
    max-height: 80vh;
    overflow:scroll;
    margin:3vh 1vh 1vh 1vh ;
    width:50vw;
    grid-area: main;
}

ul{
    list-style: none;
}
button{
    border-radius: 5px;
    transition-duration: 0.4s;
}
.search{
   display: flex;
   justify-content: center; 
   column-gap:5vw;
   margin:3vh;;
   grid-area: main;
}
button:hover{
    background-color: rgb(236, 225, 204);
}

.admin{
    background-color:rgb(240, 224, 133);
    border-radius:5px;
    border: 1px solid transparent;
    padding: 20px;
    margin-bottom: 2vh;
}

input{
    width:7vw;
}
 .display_info{
   width:100%;
}
.display_list{
width:100%;
}

